#content{
    position: relative;
    display: inline-block;
    float: left;
    border: 1px solid green !important;
    height: 500px;
    width: 68%;
}
#anusharoute{
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    border: 2px solid #ccc;
    border-radius: 25px;
    height: 60px;
    width: 350px;
}
#anusharoute:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

#anusharoute  a{
    text-decoration: none;
    font-size: 35px;
    font-weight: bold !important;
    color: blue;
    padding: 8px;
    
}

.div1{
    height: 20px;
    width: 1005;
    background-color: lightgray;
    border-radius: 5px;
  
  }
  .div2{
    height: 100%;
    background-color:lime;
    scale: var(--width,12%)1;
    transform-origin: left;
  }
  